# SQL 語法入門

> 基本查詢：隨堂練習參考解答

郭耀仁

In [1]:
import sqlite3
import pandas as pd
from sqlFrameCheck import checkAnsQuery
from test_queries.test_queries_02 import extract_test_queries as etq

conn_twelection = sqlite3.connect('twelection.db')
conn_nba = sqlite3.connect('nba.db')

## 隨堂練習：以 `||`  運算符將 `presidential2020` 表格中 `county`、`town` 與 `village` 連結誠一個新的欄位並命名為 `combined_key`，再以 `DISTINCT` 暸解台灣獨一的選舉區有哪些

In [2]:
ans_query = """
SELECT DISTINCT county || town || village AS combined_key
  FROM presidential2020;
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_twelection)

     combined_key
0       南投縣中寮鄉中寮村
1       南投縣中寮鄉內城村
2       南投縣中寮鄉八仙村
3       南投縣中寮鄉和興村
4       南投縣中寮鄉崁頂村
...           ...
7732    高雄市鼓山區鼓岩里
7733    高雄市鼓山區鼓峰里
7734    高雄市鼓山區龍井里
7735    高雄市鼓山區龍子里
7736    高雄市鼓山區龍水里

[7737 rows x 1 columns]

## 測資比對

In [3]:
caq = checkAnsQuery(etq('0201'), ans_query, conn_twelection)
caq.run_test()

測資比對正確！

## 隨堂練習：計算 NBA 球員的身體質量指數（BMI）並由大到小排序，選擇 `firstName`、`lastName` 與 `bmi` 這三個變數

In [4]:
ans_query = """
SELECT firstName,
       lastName,
       weightKilograms / (heightMeters*heightMeters) AS bmi
  FROM players
 ORDER BY bmi DESC;
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_nba)

    firstName       lastName        bmi
0        Zion     Williamson  32.853790
1      Jaylen          Adams  30.487623
2     Jarrell       Brantley  29.518950
3        Eric       Paschall  29.512295
4       Andre       Drummond  29.262204
..        ...            ...        ...
499    Kostas  Antetokounmpo  20.964312
500    Justin        Holiday  20.814203
501   Patrick          McCaw  20.321279
502     Corey         Brewer  20.100858
503     Isaac          Bonga  19.801500

[504 rows x 3 columns]

## 測資比對

In [5]:
caq = checkAnsQuery(etq('0202'), ans_query, conn_nba)
caq.run_test()

測資比對正確！

## 隨堂練習：使用 `WHERE` 將 `presidential2020` 中臺北市的資料篩選出來

In [6]:
ans_query = """
SELECT *
  FROM presidential2020
 WHERE county='臺北市';
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_twelection)

     county town village  office  number candidates  votes
0       臺北市  中山區     下埤里     524       1     宋楚瑜/余湘     48
1       臺北市  中山區     下埤里     524       2    韓國瑜/張善政    377
2       臺北市  中山區     下埤里     524       3    蔡英文/賴清德    581
3       臺北市  中山區     下埤里     525       1     宋楚瑜/余湘     53
4       臺北市  中山區     下埤里     525       2    韓國瑜/張善政    342
...     ...  ...     ...     ...     ...        ...    ...
5179    臺北市  萬華區     騰雲里    1032       2    韓國瑜/張善政    528
5180    臺北市  萬華區     騰雲里    1032       3    蔡英文/賴清德    456
5181    臺北市  萬華區     騰雲里    1033       1     宋楚瑜/余湘     43
5182    臺北市  萬華區     騰雲里    1033       2    韓國瑜/張善政    502
5183    臺北市  萬華區     騰雲里    1033       3    蔡英文/賴清德    512

[5184 rows x 7 columns]

## 測資比對

In [7]:
caq = checkAnsQuery(etq('0203'), ans_query, conn_twelection)
caq.run_test()

測資比對正確！

## 隨堂練習：使用 `WHERE` 將 `presidential2020` 表格中的六都（臺北市、新北市、桃園市、臺中市、臺南市與高雄市）的資料篩選出來

In [8]:
ans_query = """
SELECT * 
  FROM presidential2020
 WHERE county IN ('臺北市', '新北市', '桃園市', '臺中市', '臺南市', '高雄市');
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_twelection)

      county town village  office  number candidates  votes
0        新北市  三峽區     三峽里    2010       1     宋楚瑜/余湘     11
1        新北市  三峽區     三峽里    2010       2    韓國瑜/張善政     83
2        新北市  三峽區     三峽里    2010       3    蔡英文/賴清德    124
3        新北市  三峽區     中埔里    2014       1     宋楚瑜/余湘     51
4        新北市  三峽區     中埔里    2014       2    韓國瑜/張善政    364
...      ...  ...     ...     ...     ...        ...    ...
32668    高雄市  鼓山區     龍水里    1268       2    韓國瑜/張善政    477
32669    高雄市  鼓山區     龍水里    1268       3    蔡英文/賴清德    647
32670    高雄市  鼓山區     龍水里    1269       1     宋楚瑜/余湘     39
32671    高雄市  鼓山區     龍水里    1269       2    韓國瑜/張善政    520
32672    高雄市  鼓山區     龍水里    1269       3    蔡英文/賴清德    673

[32673 rows x 7 columns]

## 測資比對

In [9]:
caq = checkAnsQuery(etq('0204'), ans_query, conn_twelection)
caq.run_test()

測資比對正確！

## 隨堂練習：查詢 `careerSummaries` 生涯場均得分 `ppg` 超過 20 分的球員 ID `personId`、場均得分 `ppg`

In [10]:
ans_query = """
SELECT personId,
       ppg
  FROM careerSummaries
 WHERE ppg > 20;
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_nba)

    personId   ppg
0       2544  27.1
1       2546  23.6
2     201142  27.0
3     201566  23.2
4     201933  21.7
5     201935  25.1
6     201939  23.5
7     202681  22.4
8     203076  24.0
9     203078  21.0
10    203081  24.0
11    203954  24.1
12   1626157  22.7
13   1626164  22.3
14   1628378  22.7
15   1629027  23.6
16   1629029  24.4
17   1629627  23.6

## 測資比對

In [11]:
caq = checkAnsQuery(etq('0205'), ans_query, conn_nba)
caq.run_test()

測資比對正確！

## 隨堂練習：從 `careerSummaries` 中找出生涯助攻失誤比（assists/turnovers）最高的前 10 個球員 ID `personId`、助攻失誤比 `ast_to_ratio`

\begin{equation}
ast\_to\_ratio = \frac{assists}{turnovers}
\end{equation}

In [12]:
ans_query = """
SELECT personId,
       CAST(assists AS REAL) / CAST(turnovers AS REAL) AS ast_to_ratio
  FROM careerSummaries
 ORDER BY ast_to_ratio DESC
 LIMIT 10;
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_nba)

   personId  ast_to_ratio
0   1629669      6.333333
1   1628420      5.448980
2   1626145      4.775862
3   1629162      4.032258
4   1629648      4.000000
5    101108      3.935682
6   1627853      3.539823
7   1629723      3.500000
8   1627832      3.209964
9    202397      3.071053

## 測資比對

In [13]:
caq = checkAnsQuery(etq('0206'), ans_query, conn_nba)
caq.run_test()

測資比對正確！