# SQL 語法入門

> 資料分析：隨堂練習

郭耀仁

In [1]:
import sqlite3
import pandas as pd
from sqlFrameCheck import checkAnsQuery

conn_twelection = sqlite3.connect('twelection.db')
conn_nba = sqlite3.connect('nba.db')

## 隨堂練習：以 `COUNT()` 函式查詢 `teams` 暸解 NBA 東區（`confName = 'East'`）共有幾支球隊，將答案命名為 `n_teams`

In [2]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_nba)

In [3]:
test_query = """
SELECT COUNT(*) AS n_teams
  FROM teams
 WHERE confName = 'East';
"""

## 預期輸出

In [4]:
pd.read_sql(test_query, conn_nba)

   n_teams
0       15

## 參考解答

In [5]:
test_query = """
SELECT COUNT(*) AS n_teams
  FROM teams
 WHERE confName = 'East';
"""

## 測資比對

In [6]:
caq = checkAnsQuery(test_query, ans_query, conn_nba)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：以 `COUNT()` 函式查詢 `teams` 暸解 NBA 西區（`confName = 'West'`）共有幾支球隊，將答案命名為 `n_teams`

In [7]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_nba)

In [8]:
test_query = """
SELECT COUNT(*) AS n_teams
  FROM teams
 WHERE confName = 'West';
"""

## 預期輸出

In [9]:
pd.read_sql(test_query, conn_nba)

   n_teams
0       15

## 參考解答

In [10]:
test_query = """
SELECT COUNT(*) AS n_teams
  FROM teams
 WHERE confName = 'West';
"""

## 測資比對

In [11]:
caq = checkAnsQuery(test_query, ans_query, conn_nba)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：使用 `COUNT()` 函式查詢 `presidential2020` 有幾個觀測值，將答案命名為 `n_obs`

In [12]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_twelection)

In [13]:
test_query = """
SELECT COUNT(*) AS n_obs
  FROM presidential2020;
"""

## 預期輸出

In [14]:
pd.read_sql(test_query, conn_twelection)

   n_obs
0  51678

## 參考解答

In [15]:
test_query = """
SELECT COUNT(*) AS n_obs
  FROM presidential2020;
"""

## 測資比對

In [16]:
caq = checkAnsQuery(test_query, ans_query, conn_twelection)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：使用 `COUNT()` 函式搭配 `PRAGMA_TABLE_INFO()` 函式查詢 `presidential2020` 有幾個欄位數，並命名為 `n_cols`

In [17]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_twelection)

In [18]:
test_query = """
SELECT COUNT(*) AS n_cols
  FROM PRAGMA_TABLE_INFO('presidential2020');
"""

## 預期輸出

In [19]:
pd.read_sql(test_query, conn_twelection)

   n_cols
0       7

## 參考解答

In [20]:
test_query = """
SELECT COUNT(*) AS n_cols
  FROM PRAGMA_TABLE_INFO('presidential2020');
"""

## 測資比對

In [21]:
caq = checkAnsQuery(test_query, ans_query, conn_twelection)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：查詢 `careerSummary` 生涯場均得分 `ppg` 超過 20 分的球員有幾位，並命名為 `n_players`

In [22]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_nba)

In [23]:
test_query = """
SELECT COUNT(*) AS n_players
  FROM careerSummaries
 WHERE ppg > 20;
"""

## 預期輸出

In [24]:
pd.read_sql(test_query, conn_nba)

   n_players
0         18

## 參考解答

In [25]:
test_query = """
SELECT COUNT(*) AS n_players
  FROM careerSummaries
 WHERE ppg > 20;
"""

## 測資比對

In [26]:
caq = checkAnsQuery(test_query, ans_query, conn_nba)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：使用 `SUM()` 函式將 `presidential2020` 的票數加總，並命名為 `total_votes`

In [27]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_twelection)

In [28]:
test_query = """
SELECT SUM(votes) AS total_votes
  FROM presidential2020;
"""

## 預期輸出

In [29]:
pd.read_sql(test_query, conn_twelection)

   total_votes
0     14300940

## 參考解答

In [30]:
test_query = """
SELECT SUM(votes) AS total_votes
  FROM presidential2020;
"""

## 測資比對

In [31]:
caq = checkAnsQuery(test_query, ans_query, conn_twelection)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：使用 `SUM()` 函式與 `GROUP BY` 將 `presidential2020` 三組候選人的票數加總，並命名為 `total_votes`，選擇 `number`、`candidates` 與 `total_votes` 這三個變數

In [32]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_twelection)

In [33]:
test_query = """
SELECT number,
       candidates,
       SUM(votes) AS total_votes
  FROM presidential2020
 GROUP BY number;
"""

## 預期輸出

In [34]:
pd.read_sql(test_query, conn_twelection)

   number candidates  total_votes
0       1     宋楚瑜/余湘       608590
1       2    韓國瑜/張善政      5522119
2       3    蔡英文/賴清德      8170231

## 參考解答

In [35]:
test_query = """
SELECT number,
       candidates,
       SUM(votes) AS total_votes
  FROM presidential2020
 GROUP BY number;
"""

## 測資比對

In [36]:
caq = checkAnsQuery(test_query, ans_query, conn_twelection)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：使用 `SUM()` 函式、 `GROUP BY` 與 `HAVING` 找出 `presidential2020` 臺北市總票數超過 10 萬的行政區，總票數命名為 `total_votes`，選擇 `town` 與 `total_votes` 這兩個變數

In [37]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_twelection)

In [38]:
test_query = """
SELECT town,
       SUM(votes) AS total_votes
  FROM presidential2020
 WHERE county = '臺北市'
 GROUP BY town
HAVING total_votes > 100000
ORDER BY total_votes DESC;
"""

## 預期輸出

In [39]:
pd.read_sql(test_query, conn_twelection)

  town  total_votes
0  大安區       182001
1  士林區       177249
2  內湖區       177062
3  文山區       167936
4  北投區       156354
5  中山區       141880
6  信義區       138516
7  松山區       125561
8  萬華區       118574

## 參考解答

In [40]:
test_query = """
SELECT town,
       SUM(votes) AS total_votes
  FROM presidential2020
 WHERE county = '臺北市'
 GROUP BY town
HAVING total_votes > 100000
ORDER BY total_votes DESC;
"""

## 測資比對

In [41]:
caq = checkAnsQuery(test_query, ans_query, conn_twelection)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：使用 `CASE` 敘述，將 `presidential2020` 三組候選人的票數加總分類為六都（臺北市、新北市、桃園市、臺中市、臺南市與高雄市）和非六都，命名這個類別為 `county_type`，總票數命名為 `total_votes`，選擇 `county_type` 與 `total_votes` 這兩個變數

In [42]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_twelection)

In [43]:
test_query = """
SELECT CASE WHEN county IN ('臺北市', '新北市', '桃園市', '臺中市', '臺南市', '高雄市') THEN '六都'
       ELSE '非六都'
       END AS county_type,
       SUM(votes) AS total_votes
  FROM presidential2020
 GROUP BY county_type;
"""

## 預期輸出

In [44]:
pd.read_sql(test_query, conn_twelection)

  county_type  total_votes
0          六都     10039325
1         非六都      4261615

## 參考解答

In [45]:
test_query = """
SELECT CASE WHEN county IN ('臺北市', '新北市', '桃園市', '臺中市', '臺南市', '高雄市') THEN '六都'
       ELSE '非六都'
       END AS county_type,
       SUM(votes) AS total_votes
  FROM presidential2020
 GROUP BY county_type;
"""

## 測資比對

In [46]:
caq = checkAnsQuery(test_query, ans_query, conn_twelection)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：查詢 `nba.db` 目前生涯總助攻數（`assists`）最高的球員是誰

In [47]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_nba)

In [48]:
test_query = """
SELECT firstName,
       lastName
  FROM players
 WHERE personId = (
           SELECT personId
             FROM careerSummaries
            WHERE assists = (
                SELECT MAX(assists)
                  FROM careerSummaries
            )
       );
"""

## 預期輸出

In [49]:
pd.read_sql(test_query, conn_nba)

  firstName lastName
0     Chris     Paul

## 參考解答

In [50]:
test_query = """
SELECT firstName,
       lastName
  FROM players
 WHERE personId = (
           SELECT personId
             FROM careerSummaries
            WHERE assists = (
                SELECT MAX(assists)
                  FROM careerSummaries
            )
       );
"""

## 測資比對

In [51]:
caq = checkAnsQuery(test_query, ans_query, conn_nba)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：查詢 `nba.db` 目前生涯總籃板球 `totReb` 最高的球員是誰

In [52]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_nba)

In [53]:
test_query = """
SELECT firstName,
       lastName
  FROM players
 WHERE personId = (
           SELECT personId
             FROM careerSummaries
            WHERE totReb = (
                SELECT MAX(totReb)
                  FROM careerSummaries
            )
       );
"""

## 預期輸出

In [54]:
pd.read_sql(test_query, conn_nba)

  firstName lastName
0    Dwight   Howard

## 參考解答

In [55]:
test_query = """
SELECT firstName,
       lastName
  FROM players
 WHERE personId = (
           SELECT personId
             FROM careerSummaries
            WHERE totReb = (
                SELECT MAX(totReb)
                  FROM careerSummaries
            )
       );
"""

## 測資比對

In [56]:
caq = checkAnsQuery(test_query, ans_query, conn_nba)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：查詢 `nba.db` 目前公鹿隊（Milwaukee Bucks）的球員陣容有誰

In [57]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_nba)

In [58]:
test_query = """
SELECT firstName,
       lastName
  FROM players
 WHERE personId IN (
           SELECT personId
             FROM rosters
            WHERE teamId = (SELECT teamId
                              FROM teams
                             WHERE nickname = 'Bucks')
       );
"""

## 預期輸出

In [59]:
pd.read_sql(test_query, conn_nba)

   firstName       lastName
0       Kyle         Korver
1     Marvin       Williams
2      Ersan       Ilyasova
3      Brook          Lopez
4      Robin          Lopez
5     George           Hill
6     Wesley       Matthews
7       Eric        Bledsoe
8      Khris      Middleton
9    Giannis  Antetokounmpo
10  Thanasis  Antetokounmpo
11       Pat    Connaughton
12      D.J.         Wilson
13     Frank          Mason
14  Sterling          Brown
15     Donte     DiVincenzo
16   Cameron       Reynolds

## 參考解答

In [60]:
test_query = """
SELECT firstName,
       lastName
  FROM players
 WHERE personId IN (
           SELECT personId
             FROM rosters
            WHERE teamId = (SELECT teamId
                              FROM teams
                             WHERE nickname = 'Bucks')
       );
"""

## 測資比對

In [61]:
caq = checkAnsQuery(test_query, ans_query, conn_nba)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：查詢 `presidential2016` 三組候選人的得票率為何，選擇 `number`、`candidates` 與 `votes_percentage`

In [62]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_twelection)

In [63]:
test_query = """
SELECT number,
       candidates,
       CAST(SUM(votes) AS REAL) / CAST((SELECT SUM(votes) FROM presidential2016) AS REAL) AS votes_percentage
  FROM presidential2016
 GROUP BY number;
"""

## 預期輸出

In [64]:
pd.read_sql(test_query, conn_twelection)

   number candidates  votes_percentage
0       1    朱立倫/王如玄          0.310409
1       2    蔡英文/陳建仁          0.561234
2       3    宋楚瑜/徐欣瑩          0.128357

## 參考解答

In [65]:
test_query = """
SELECT number,
       candidates,
       CAST(SUM(votes) AS REAL) / CAST((SELECT SUM(votes) FROM presidential2016) AS REAL) AS votes_percentage
  FROM presidential2016
 GROUP BY number;
"""

## 測資比對

In [66]:
caq = checkAnsQuery(test_query, ans_query, conn_twelection)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：查詢 `presidential2020` 三組候選人的得票率為何，選擇 `number`、`candidates` 與 `votes_percentage`

In [67]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_twelection)

In [68]:
test_query = """
SELECT number,
       candidates,
       CAST(SUM(votes) AS REAL) / CAST((SELECT SUM(votes) FROM presidential2020) AS REAL) AS votes_percentage
  FROM presidential2020
 GROUP BY number;
"""

## 預期輸出

In [69]:
pd.read_sql(test_query, conn_twelection)

   number candidates  votes_percentage
0       1     宋楚瑜/余湘          0.042556
1       2    韓國瑜/張善政          0.386137
2       3    蔡英文/賴清德          0.571307

## 參考解答

In [70]:
test_query = """
SELECT number,
       candidates,
       CAST(SUM(votes) AS REAL) / CAST((SELECT SUM(votes) FROM presidential2020) AS REAL) AS votes_percentage
  FROM presidential2020
 GROUP BY number;
"""

## 測資比對

In [71]:
caq = checkAnsQuery(test_query, ans_query, conn_twelection)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：查詢 `nba.db` 目前湖人隊（Los Angeles Lakers）的球員陣容生涯場均得分（`ppg`）、場均籃板（`rpg`）與場均助攻（`apg`），選擇 `fullName`、`firstName`、`lastName`、`ppg`、`rpg`、`apg` 並以 `firstName` 遞增排序

In [72]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_nba)

In [73]:
test_query = """
SELECT teams.fullName,
       players.firstName,
       players.lastName,
       careerSummaries.ppg,
       careerSummaries.rpg,
       careerSummaries.apg
  FROM players
  JOIN teams
    ON players.teamId = teams.teamId
  JOIN careerSummaries
    ON players.personId = careerSummaries.personId
 WHERE teams.nickname = 'Lakers'
 ORDER BY players.firstName;
"""

## 預期輸出

In [74]:
pd.read_sql(test_query, conn_nba)

              fullName   firstName       lastName   ppg   rpg  apg
0   Los Angeles Lakers        Alex         Caruso   5.7   2.0  2.1
1   Los Angeles Lakers     Anthony          Davis  24.0  10.4  2.2
2   Los Angeles Lakers       Avery        Bradley  11.8   2.9  1.8
3   Los Angeles Lakers       Danny          Green   8.9   3.5  1.6
4   Los Angeles Lakers    Devontae          Cacok   0.0   0.0  0.0
5   Los Angeles Lakers        Dion        Waiters  13.2   2.7  2.8
6   Los Angeles Lakers      Dwight         Howard  16.8  12.3  1.4
7   Los Angeles Lakers          JR          Smith  12.5   3.2  2.1
8   Los Angeles Lakers      JaVale          McGee   7.9   5.1  0.4
9   Los Angeles Lakers       Jared         Dudley   7.5   3.2  1.6
10  Los Angeles Lakers  Kentavious  Caldwell-Pope  11.6   3.2  1.6
11  Los Angeles Lakers      Kostas  Antetokounmpo   0.4   0.4  0.2
12  Los Angeles Lakers        Kyle          Kuzma  16.0   5.5  1.9
13  Los Angeles Lakers      LeBron          James  27.1   7.4  7.4
14  Los Angeles Lakers    Markieff         Morris  11.5   5.4  1.7
15  Los Angeles Lakers       Quinn           Cook   6.8   1.8  1.7
16  Los Angeles Lakers       Rajon          Rondo  10.2   4.7  8.3
17  Los Angeles Lakers       Talen  Horton-Tucker   0.0   0.0  1.0

## 參考解答

In [75]:
test_query = """
SELECT teams.fullName,
       players.firstName,
       players.lastName,
       careerSummaries.ppg,
       careerSummaries.rpg,
       careerSummaries.apg
  FROM players
  JOIN teams
    ON players.teamId = teams.teamId
  JOIN careerSummaries
    ON players.personId = careerSummaries.personId
 WHERE teams.nickname = 'Lakers'
 ORDER BY players.firstName;
"""

## 測資比對

In [76]:
caq = checkAnsQuery(test_query, ans_query, conn_nba)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable