# SQL 語法入門

> 資料分析：隨堂練習

郭耀仁

In [1]:
import sqlite3
import pandas as pd
from sqlFrameCheck import checkAnsQuery

conn_twelection = sqlite3.connect('twelection.db')
conn_nba = sqlite3.connect('nba.db')

## 隨堂練習：以 `COUNT()` 函式查詢 `teams` 暸解 NBA 東區（`confName = 'East'`）共有幾支球隊，將答案命名為 `n_teams`

In [2]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_nba)

In [3]:
test_query = """
SELECT COUNT(*) AS n_teams
  FROM teams
 WHERE confName = 'East';
"""

## 預期輸出

In [4]:
pd.read_sql(test_query, conn_nba)

   n_teams
0       15

## 參考解答

In [5]:
test_query = """
SELECT COUNT(*) AS n_teams
  FROM teams
 WHERE confName = 'East';
"""

## 測資比對

In [6]:
caq = checkAnsQuery(test_query, ans_query, conn_nba)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：以 `COUNT()` 函式查詢 `teams` 暸解 NBA 西區（`confName = 'West'`）共有幾支球隊，將答案命名為 `n_teams`

In [7]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_nba)

In [8]:
test_query = """
SELECT COUNT(*) AS n_teams
  FROM teams
 WHERE confName = 'West';
"""

## 預期輸出

In [9]:
pd.read_sql(test_query, conn_nba)

   n_teams
0       15

## 參考解答

In [10]:
test_query = """
SELECT COUNT(*) AS n_teams
  FROM teams
 WHERE confName = 'West';
"""

## 測資比對

In [11]:
caq = checkAnsQuery(test_query, ans_query, conn_nba)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：使用 `COUNT()` 函式查詢 `presidential2020` 有幾個觀測值，將答案命名為 `n_obs`

In [12]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_twelection)

In [13]:
test_query = """
SELECT COUNT(*) AS n_obs
  FROM presidential2020;
"""

## 預期輸出

In [14]:
pd.read_sql(test_query, conn_twelection)

   n_obs
0  51678

## 參考解答

In [15]:
test_query = """
SELECT COUNT(*) AS n_obs
  FROM presidential2020;
"""

## 測資比對

In [16]:
caq = checkAnsQuery(test_query, ans_query, conn_twelection)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：使用 `COUNT()` 函式搭配 `PRAGMA_TABLE_INFO()` 函式查詢 `presidential2020` 有幾個欄位數，並命名為 `n_cols`

In [17]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_twelection)

In [18]:
test_query = """
SELECT COUNT(*) AS n_cols
  FROM PRAGMA_TABLE_INFO('presidential2020');
"""

## 預期輸出

In [19]:
pd.read_sql(test_query, conn_twelection)

   n_cols
0       7

## 參考解答

In [20]:
test_query = """
SELECT COUNT(*) AS n_cols
  FROM PRAGMA_TABLE_INFO('presidential2020');
"""

## 測資比對

In [21]:
caq = checkAnsQuery(test_query, ans_query, conn_twelection)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：查詢 `careerSummary` 生涯場均得分 `ppg` 超過 20 分的球員有幾位，並命名為 `n_players`

In [22]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_nba)

In [23]:
test_query = """
SELECT COUNT(*) AS n_players
  FROM careerSummaries
 WHERE ppg > 20;
"""

## 預期輸出

In [24]:
pd.read_sql(test_query, conn_nba)

   n_players
0         18

## 參考解答

In [25]:
test_query = """
SELECT COUNT(*) AS n_players
  FROM careerSummaries
 WHERE ppg > 20;
"""

## 測資比對

In [26]:
caq = checkAnsQuery(test_query, ans_query, conn_nba)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：使用 `SUM()` 函式將 `presidential2020` 的票數加總，並命名為 `total_votes`

In [27]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_twelection)

In [28]:
test_query = """
SELECT SUM(votes) AS total_votes
  FROM presidential2020;
"""

## 預期輸出

In [29]:
pd.read_sql(test_query, conn_twelection)

   total_votes
0     14300940

## 參考解答

In [30]:
test_query = """
SELECT SUM(votes) AS total_votes
  FROM presidential2020;
"""

## 測資比對

In [31]:
caq = checkAnsQuery(test_query, ans_query, conn_twelection)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable

## 隨堂練習：使用 `SUM()` 函式與 `GROUP BY` 將 `presidential2020` 三組候選人的票數加總，並命名為 `total_votes`，選擇 `number`、`candidates` 與 `total_votes` 這三個變數

In [32]:
ans_query = """
-- 將查詢語法寫在這裡
"""
# 試跑看看結果
#pd.read_sql(ans_query, conn_twelection)

In [33]:
test_query = """
SELECT number,
       candidates,
       SUM(votes) AS total_votes
  FROM presidential2020
 GROUP BY number;
"""

## 預期輸出

In [34]:
pd.read_sql(test_query, conn_twelection)

   number candidates  total_votes
0       1     宋楚瑜/余湘       608590
1       2    韓國瑜/張善政      5522119
2       3    蔡英文/賴清德      8170231

## 參考解答

In [35]:
test_query = """
SELECT number,
       candidates,
       SUM(votes) AS total_votes
  FROM presidential2020
 GROUP BY number;
"""

## 測資比對

In [36]:
caq = checkAnsQuery(test_query, ans_query, conn_twelection)
caq.run_test()

查詢語法有誤，錯誤訊息為：

'NoneType' object is not iterable