# SQL 入門

> 資料分析：隨堂練習參考解答

郭耀仁

In [1]:
import sqlite3
import pandas as pd
from sqlFrameCheck import checkAnsQuery
from test_queries.test_queries_03 import extract_test_queries as etq

conn_twelection = sqlite3.connect('twelection.db')
conn_nba = sqlite3.connect('nba.db')

## 隨堂練習：以 `COUNT()` 函式查詢 `teams` 暸解 NBA 東區（`confName = 'East'`）共有幾支球隊，將答案命名為 `n_teams`

In [2]:
ans_query = """
SELECT COUNT(*) AS n_teams
  FROM teams
 WHERE confName = 'East';
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_nba)

   n_teams
0       15

## 測資比對

In [3]:
caq = checkAnsQuery(etq('0301'), ans_query, conn_nba)
caq.run_test()

測資比對正確！

## 隨堂練習：以 `COUNT()` 函式查詢 `teams` 暸解 NBA 西區（`confName = 'West'`）共有幾支球隊，將答案命名為 `n_teams`

In [4]:
ans_query = """
SELECT COUNT(*) AS n_teams
  FROM teams
 WHERE confName = 'West';
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_nba)

   n_teams
0       15

## 測資比對

In [5]:
caq = checkAnsQuery(etq('0302'), ans_query, conn_nba)
caq.run_test()

測資比對正確！

## 隨堂練習：使用 `COUNT()` 函式查詢 `presidential2020` 有幾個觀測值，將答案命名為 `n_obs`

In [6]:
ans_query = """
SELECT COUNT(*) AS n_obs
  FROM presidential2020;
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_twelection)

   n_obs
0  51678

## 測資比對

In [7]:
caq = checkAnsQuery(etq('0303'), ans_query, conn_twelection)
caq.run_test()

測資比對正確！

## 隨堂練習：使用 `COUNT()` 函式搭配 `PRAGMA_TABLE_INFO()` 函式查詢 `presidential2020` 有幾個欄位數，並命名為 `n_cols`

In [8]:
ans_query = """
SELECT COUNT(*) AS n_cols
  FROM PRAGMA_TABLE_INFO('presidential2020');
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_twelection)

   n_cols
0       7

## 測資比對

In [9]:
caq = checkAnsQuery(etq('0304'), ans_query, conn_twelection)
caq.run_test()

測資比對正確！

## 隨堂練習：查詢 `careerSummaries` 生涯場均得分 `ppg` 超過 20 分的球員有幾位，並命名為 `n_players`

In [10]:
ans_query = """
SELECT COUNT(*) AS n_players
  FROM careerSummaries
 WHERE ppg > 20;
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_nba)

   n_players
0         18

## 測資比對

In [11]:
caq = checkAnsQuery(etq('0305'), ans_query, conn_nba)
caq.run_test()

測資比對正確！

## 隨堂練習：使用 `SUM()` 函式將 `presidential2020` 的票數加總，並命名為 `total_votes`

In [12]:
ans_query = """
SELECT SUM(votes) AS total_votes
  FROM presidential2020;
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_twelection)

   total_votes
0     14300940

## 測資比對

In [13]:
caq = checkAnsQuery(etq('0306'), ans_query, conn_twelection)
caq.run_test()

測資比對正確！

## 隨堂練習：使用 `SUM()` 函式與 `GROUP BY` 將 `presidential2020` 三組候選人的票數加總，並命名為 `total_votes`，選擇 `number`、`candidates` 與 `total_votes` 這三個變數

In [14]:
ans_query = """
SELECT number,
       candidates,
       SUM(votes) AS total_votes
  FROM presidential2020
 GROUP BY number;
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_twelection)

   number candidates  total_votes
0       1     宋楚瑜/余湘       608590
1       2    韓國瑜/張善政      5522119
2       3    蔡英文/賴清德      8170231

## 測資比對

In [15]:
caq = checkAnsQuery(etq('0307'), ans_query, conn_twelection)
caq.run_test()

測資比對正確！

## 隨堂練習：使用 `SUM()` 函式、 `GROUP BY` 與 `HAVING` 找出 `presidential2020` 臺北市總票數超過 10 萬的行政區，總票數命名為 `total_votes`，選擇 `town` 與 `total_votes` 這兩個變數

In [16]:
ans_query = """
SELECT town,
       SUM(votes) AS total_votes
  FROM presidential2020
 WHERE county = '臺北市'
 GROUP BY town
HAVING total_votes > 100000
ORDER BY total_votes DESC;
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_twelection)

  town  total_votes
0  大安區       182001
1  士林區       177249
2  內湖區       177062
3  文山區       167936
4  北投區       156354
5  中山區       141880
6  信義區       138516
7  松山區       125561
8  萬華區       118574

## 測資比對

In [17]:
caq = checkAnsQuery(etq('0308'), ans_query, conn_twelection)
caq.run_test()

測資比對正確！

## 隨堂練習：使用 `CASE` 敘述，將 `presidential2020` 三組候選人的票數加總分類為六都（臺北市、新北市、桃園市、臺中市、臺南市與高雄市）和非六都，命名這個類別為 `county_type`，總票數命名為 `total_votes`，選擇 `county_type` 與 `total_votes` 這兩個變數

In [18]:
ans_query = """
SELECT CASE WHEN county IN ('臺北市', '新北市', '桃園市', '臺中市', '臺南市', '高雄市') THEN '六都'
       ELSE '非六都'
       END AS county_type,
       SUM(votes) AS total_votes
  FROM presidential2020
 GROUP BY county_type;
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_twelection)

  county_type  total_votes
0          六都     10039325
1         非六都      4261615

## 測資比對

In [19]:
caq = checkAnsQuery(etq('0309'), ans_query, conn_twelection)
caq.run_test()

測資比對正確！

## 隨堂練習：使用 `CASE` 敘述，計算 `presidential2020` 三組候選人的在六都（臺北市、新北市、桃園市、臺中市、臺南市與高雄市）和非六都的得票數個為何，命名這個類別為 `county_type`，總票數命名為 `total_votes`，選擇 `number`、`candidates`、`county_type` 與 `total_votes` 這四個變數

In [20]:
ans_query = """
SELECT number,
       candidates,
       CASE WHEN county IN ('臺北市', '新北市', '桃園市', '臺中市', '臺南市', '高雄市') THEN '六都'
       ELSE '非六都'
       END AS county_type,
       SUM(votes) AS total_votes
  FROM presidential2020
 GROUP BY number, county_type;
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_twelection)

   number candidates county_type  total_votes
0       1     宋楚瑜/余湘          六都       427705
1       1     宋楚瑜/余湘         非六都       180885
2       2    韓國瑜/張善政          六都      3772174
3       2    韓國瑜/張善政         非六都      1749945
4       3    蔡英文/賴清德          六都      5839446
5       3    蔡英文/賴清德         非六都      2330785

## 測資比對

In [21]:
caq = checkAnsQuery(etq('0310'), ans_query, conn_twelection)
caq.run_test()

測資比對正確！

## 隨堂練習：查詢 `nba.db` 目前生涯總助攻數（`assists`）最高的球員是誰

In [22]:
ans_query = """
SELECT firstName,
       lastName
  FROM players
 WHERE personId = (
           SELECT personId
             FROM careerSummaries
            WHERE assists = (
                SELECT MAX(assists)
                  FROM careerSummaries
            )
       );
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_nba)

  firstName lastName
0     Chris     Paul

## 測資比對

In [23]:
caq = checkAnsQuery(etq('0311'), ans_query, conn_nba)
caq.run_test()

測資比對正確！

## 隨堂練習：查詢 `nba.db` 目前生涯總籃板球 `totReb` 最高的球員是誰

In [24]:
ans_query = """
SELECT firstName,
       lastName
  FROM players
 WHERE personId = (
           SELECT personId
             FROM careerSummaries
            WHERE totReb = (
                SELECT MAX(totReb)
                  FROM careerSummaries
            )
       );
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_nba)

  firstName lastName
0    Dwight   Howard

## 測資比對

In [25]:
caq = checkAnsQuery(etq('0312'), ans_query, conn_nba)
caq.run_test()

測資比對正確！

## 隨堂練習：查詢 `nba.db` 目前公鹿隊（Milwaukee Bucks）的球員陣容有誰

In [26]:
ans_query = """
SELECT firstName,
       lastName
  FROM players
 WHERE personId IN (
           SELECT personId
             FROM rosters
            WHERE teamId = (SELECT teamId
                              FROM teams
                             WHERE nickname = 'Bucks')
       );
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_nba)

   firstName       lastName
0       Kyle         Korver
1     Marvin       Williams
2      Ersan       Ilyasova
3      Brook          Lopez
4      Robin          Lopez
5     George           Hill
6     Wesley       Matthews
7       Eric        Bledsoe
8      Khris      Middleton
9    Giannis  Antetokounmpo
10  Thanasis  Antetokounmpo
11       Pat    Connaughton
12      D.J.         Wilson
13     Frank          Mason
14  Sterling          Brown
15     Donte     DiVincenzo
16   Cameron       Reynolds

## 測資比對

In [27]:
caq = checkAnsQuery(etq('0313'), ans_query, conn_nba)
caq.run_test()

測資比對正確！

## 隨堂練習：查詢 `presidential2016` 三組候選人的得票率為何，選擇 `number`、`candidates` 與 `votes_percentage`

In [28]:
ans_query = """
SELECT number,
       candidates,
       CAST(SUM(votes) AS REAL) / CAST((SELECT SUM(votes) FROM presidential2016) AS REAL) AS votes_percentage
  FROM presidential2016
 GROUP BY number;
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_twelection)

   number candidates  votes_percentage
0       1    朱立倫/王如玄          0.310409
1       2    蔡英文/陳建仁          0.561234
2       3    宋楚瑜/徐欣瑩          0.128357

## 測資比對

In [29]:
caq = checkAnsQuery(etq('0314'), ans_query, conn_twelection)
caq.run_test()

測資比對正確！

## 隨堂練習：查詢 `presidential2020` 三組候選人的得票率為何，選擇 `number`、`candidates` 與 `votes_percentage`

In [30]:
ans_query = """
SELECT number,
       candidates,
       CAST(SUM(votes) AS REAL) / CAST((SELECT SUM(votes) FROM presidential2020) AS REAL) AS votes_percentage
  FROM presidential2020
 GROUP BY number;
"""
# 試跑看看結果
pd.read_sql(ans_query, conn_twelection)

   number candidates  votes_percentage
0       1     宋楚瑜/余湘          0.042556
1       2    韓國瑜/張善政          0.386137
2       3    蔡英文/賴清德          0.571307

## 測資比對

In [31]:
caq = checkAnsQuery(etq('0315'), ans_query, conn_twelection)
caq.run_test()

測資比對正確！