# SQL 入門

> 操作資料

郭耀仁

## 摘要

- 創建
- 更新
- 刪除

## 創建

## 透過資料庫實現規模化且自動化的資料操作

- C(reate) 創建
- R(ead) 讀取
- U(pdate) 更新
- D(elete) 刪除

## 讀取以外，尚有創建、更新與刪除等操作

## 使用 DB4S 在本機端創建一個資料庫 `movies`

![Imgur](https://i.imgur.com/p4lMISB.png)

## 以 DB4S 執行 SQL 語法

![Imgur](https://i.imgur.com/1peBYBr.png)

## 亦可以使用者介面匯入 CSV 檔案成為表格

![Imgur](https://i.imgur.com/DP97sJh.png)

## 更新

## 以 `INSERT INTO` 語法插入觀測值

```sql
INSERT INTO movies (title, year, rating)
VALUES 
       ('The Shawshank Redemption', 1995, 9.2),
       ('The Godfather', 1972, 9.1),
       ('The Dark Knight', 2008, 9.0),
       ('Forrest Gump', 1994, 8.8);
```

## 以 `UPDATE` 語法更新觀測值

"The Shawshank Redemption" 於 1994 年在美國上映, 但是當年在台灣 1995 年才上映，片名取為「刺激1995」。

```sql
UPDATE movies
   SET year = 1994
 WHERE title = 'The Shawshank Redemption';
```

## 刪除

## 以 `DELETE` 語法刪除觀測值

```sql
DELETE FROM movies
      WHERE title = 'The Godfather';
```

## 以 `DROP` 語法刪除表格

```sql
DROP TABLE movies;
```